.search-bar{
    background-color: rgba(91, 91, 91, 0.703);
    width: 480px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.input{
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: rgb(230, 230, 230);
    color: rgb(23, 23, 32);
}
::placeholder{
    color: rgb(23, 23, 32);
    opacity: 0.5;
}
.input:focus{
    outline: none;
    box-shadow: 0 0 8px 5px rgb(58, 255, 58);
}
.button{
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 1rem;
    color: rgba(0, 0, 0, 0.5);
}
.button:hover{
    cursor: pointer;
    background-color: rgb(58, 255, 58);
    color: #000;
}